:root {
  --primary-pink-100: #FEDBD0;
  --primary-pink-300: #FBB8AC;
  --primary-pink-900: #442C2E;
  --secondary-pink-50: #FEEAE6;
  --surface: #FFFBFA;
  --background: #FFFFFF;
  --error: #C5032B;
}